@font-face {
	font-family: 'Hurme-Black';
	src: url('../fonts/HurmeBlack.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Hurme-Light';
	src: url('../fonts/HurmeLight.otf');
	font-weight: normal;
	font-style: normal;
}

.gauge-title {
	font-size: 14px;
	fill: #FFFFFF;
}

.gauge-value {
	font-size: 24px;
	fill: #FFFFFF;
}

.gauge-unity {
	font-size: 14px;
	fill: #FFFFFF;
}

#container {
	display: none;
}

#rpmshow {
	position: fixed;
	bottom: 30px;
	right: 34px;
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.0));
}

#nitroshow {
	position: fixed;
	bottom: 49px;
	right: 185px;
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.0));
	transform: rotate(140deg);
}

.speedcircle {
	width: 80px;
	height: 80px;
	position: fixed;
	bottom: 155px;
	right: 185px;
}

.geardisplay {
	text-align: center;
	font-family: 'Hurme-Light';
	font-size: 21px;
	width: 28px;
	height: 28px;
	position: fixed;
	bottom: 40px;
	right: 120px;
	color: rgb(63, 249, 165);
	border: 1px solid rgb(63, 249, 165);
	border-radius: 50%;
}

.geardisplay span {
	margin: auto !important;
}

.nitrodisplay {
	text-align: center;
	font-family: 'Hurme-Light';
	font-size: 21px;
	width: 28px;
	height: 28px;
	position: fixed;
	bottom: 80px;
	right: 230px;
	color: rgb(63, 249, 165);
	border-radius: 50%;
	transform: rotate(140deg);
}

.nitrodisplay img {
	width: 12px;
	opacity: 0.6;
	margin: auto !important;
}

.speeddisplay {
	font-size: 60px;
	letter-spacing: 8px;
	position: fixed;
	bottom: 130px;
	right: 80px;
	font-family: 'Hurme-Black';
	color: #FFF;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.0);
}

.gray {
	color: rgba(255, 255, 255, 0.5);
}

.int1 {
	position: fixed;
	bottom: 90px;
	right: 150px;
}

.int2 {
	position: fixed;
	bottom: 90px;
	right: 110px;
}

.int3 {
	position: fixed;
	bottom: 90px;
	right: 70px;
}

.displaykmh {
	position: fixed;
	bottom: 160px;
	right: 110px;
	color: rgba(255, 255, 255, 0.6);
	font-family: 'Hurme-Light';
	font-weight: 100;
	font-size: 11px;
	letter-spacing: 2px;
}

.unitdisplay {
	position: fixed;
	bottom: 85px;
	right: 120px;
	color: rgba(255, 255, 255, 0.6);
	font-family: 'Hurme-Light';
	font-weight: 100;
	font-size: 11px;
	letter-spacing: 2px;
}

.abs {
	position: fixed;
	bottom: 175px;
	right: 220;
	color: rgba(255, 255, 255, 1);
	font-family: 'Hurme-Light';
	font-style: normal;
	font-weight: 100;
	font-size: 11px;
	letter-spacing: 2px;
}

.fuel {
	position: fixed;
	bottom: 190px;
	right: 215;
	color: rgba(255, 255, 255, 1);
	font-family: 'Hurme-Light';
	font-style: normal;
	font-weight: 100;
	font-size: 11px;
	letter-spacing: 2px;
}

.handbrake {
	position: fixed;
	bottom: 160px;
	right: 225;
	color: rgba(255, 255, 255, 1);
	font-family: 'Hurme-Light';
	font-style: normal;
	font-weight: 100;
	font-size: 11px;
	letter-spacing: 2px;
}


.seatbelt-info {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
}

.seatbelt-info img {
	width: 100%;
	height: 100%;
}