@font-face {
    font-family: Sansation;
    src: url(../fonts/Sansation_Light.eot);
    src: url('Sansation-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url(../fonts/Sansation_Light.woff) format('woff'),
         url(../fonts/Sansation_Light.ttf) format('truetype'),
         url(../fonts/Sansation_Light.svg) format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    user-select: none;
    font-family: Sansation;
    text-decoration: none;
    box-sizing: border-box;
}


#displayInfos {
	float: left;
	font-size: 12px;
	line-height: 18px;
	text-align: right;
	padding: 34px 20px 0 0;
	letter-spacing: 0.6px;
	color: rgba(255,255,255,0.5);
	text-shadow: 1px 1px rgba(0,0,0,1);
	font-family: Sansation;
	position: absolute;
    top: -105%;
    right: 38px;
}

#displayInfos b {
	color: rgba(255,255,255,0.8);
}
#movieTop {
	top: 0;
	left: 0;
	width: 100%;
	height: 13%;
	background: #000;
	position: absolute;
	display: none;
	z-index: 999 !important;
}

#movieBottom {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 13%;
	background: #000;
	position: absolute;
	display: none;
	z-index: 999 !important;
}

.container {
    position: absolute;
    left: 13vw;
    bottom: -1.3vw;
    height: 50px;
    width: 470px;
    display: inline-flex;
    zoom: .95;
}

.hud-status .background,
.outer {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hud-status .progress {
	-webkit-transition: 0.35s stroke-dashoffset;
	-o-transition: 0.35s stroke-dashoffset;
	transition: 0.35s stroke-dashoffset;
	-webkit-transform: rotate(140deg);
	-ms-transform: rotate(140deg);
	transform: rotate(140deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hud-velocimeter .test1 {
	transform: rotate(-112deg);
    
    -webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 52%;
}

.hud-velocimeter .test2 {
    position: relative;
    
	transform: rotate(-146.3deg);
    
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    /*                       */
	transform-origin: 53.8% 50.8%;
}

.hud-velocimeter .test3 {
	transform: rotate(-221deg);
    
    -webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 60.4% 48.8%;
}

.hud-velocimeter .test4 {
    position: relative;
    
    transform: rotate(-43.8deg);
    
    -webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 30% 58.5%;
}

.hud-velocimeter .progress1 {
    transform: rotate(-112deg);
    
    -webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 52%;
}

.hud-velocimeter .progress2 {
    position: relative;
    
    transform: rotate(-39deg);
    
    -webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 30% 58%;
}

.hud-velocimeter .progress3 {
	transform: rotate(-221deg);
    
    -webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 60.4% 48.8%;
}

.hud-velocimeter .progress4 {
    position: relative;
    
	transform: rotate(-146.3deg);
    
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    /*                       */
	transform-origin: 53.8% 50.8%;
}

/*////////////
- HUD STATUS -
////////////*/

.container .hud-status {
    position: relative;
    height: 100%;
    width: 50%;
    top: 0px;
    left: 50px;
	border-radius: 30px;
    display: inline-flex;
}

.container .hud-status .hud-item {
    position: relative;
    width: 50px;
    height: 100%;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.511);
}

.container .hud-status .hud-item span {
    position: absolute;
    font-size: 10px;
    color: #fff;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .hud-status .hud-item img {
    position: absolute;
    left: 50%;
    bottom: 7px;
    width: 12px;
    height: 12px;
    transform: translate(-50%, 0);
}

.container .hud-status .hud-item .huds div {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}

.container .hud-status .hud-item .huds div svg {
	opacity: .5;
}

.container .hud-status .hud-item .huds .active svg {
	opacity: .9;
}

.clignotant {
	left: 50px;
}
.clignotant-gauche {
	left: 70px;
}
.clignotant-pis {
	right: 40px;
}
.feu-route {
	right: 56px;
}

.container .hud-status .hud-item .huds .clignotant.active svg {
	animation: fadeLoop 1s step-start infinite !important;
}

.container .hud-status .hud-item .huds .clignotant.active svg path {
	stroke: #f39c12 !important;
}

.container .hud-status .hud-item .huds .feu-position.active svg {
	opacity: 1;
}

.container .hud-status .hud-item .huds .feu-position.active svg path {
	fill: #2ecc71;
}

.container .hud-status .hud-item .huds .feu-route.active svg {
	opacity: 1;
}

.container .hud-status .hud-item .huds .feu-route.active svg path {
	fill: #0984e3;
}

.container .hud-status .hud-item .huds svg {
	opacity: 1;
	position: absolute;
	transform: scale(2) rotate(-40deg);
}

.container .hud-status .hud-item .huds .outer {
	opacity: .3;
	transform: rotate(180deg) scale(3); 
}

/*//////////
- HUD LOGO -
//////////*/

.container .hud-logo {
    position: relative;
    width: 50px;
    height: 100%;
    margin-right: 10px;
}

.container .hud-logo img {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*/////////////////
- HUD VELOCIMETER -
/////////////////*/

.section-velocity-bg {
    position: absolute;
    top: -19.8px;
    left: -5px;
    width: 73px;
    height: 75px;
    border-radius: 100%;
    border: 1px #fff dashed ;
    background-color: rgba(0, 0, 0, 0.511);
}

.hud-velocimeter {
    display: none;
    position: absolute;
    left: 97px;
    top: -90px;
    width: 90%;
    height: 80px;
}

.hud-velocimeter .section-progress {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    color: #fff;
}

.hud-velocimeter .section-progress .section-item {
    position: relative;
    right: 133px;
    top: -30px;
    width: 150px;
    height: 8px;
    margin-top: 15px;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.288);
}

.hud-velocimeter .section-progress .section-item .section-fill {
    position: relative;
    width: 50%;
    height: 100%;
}

.hud-velocimeter .section-progress .section-item .section-fill:before {
    content: '';
    position: absolute;
    right: -1.6px;
    height: 100%;
    width: 1.5px;
    background-color: rgba(255, 255, 255, 0.288);
}

.hud-velocimeter .section-progress .section-item span {
    position: absolute;
    top: -6px;
    right: -90px;
    font-size: 18px;
}

.hud-velocimeter .section-progress .section-icon {
    position: absolute;
    top: -3px;
    right: -24px;
    width: 15px;
    height: 15px;
}
.hud-velocimeter .section-progress .section-icon img {
    max-width: 100%;
}

.hud-velocimeter .section-velocity {
    position: relative;
    height: 50%;
    width: 30%;
    color: #fff;
    margin-left: 19px;
}

.hud-velocimeter .section-velocity .section-info p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-bottom: -7px;
    letter-spacing: 1px;
}

.hud-velocimeter .section-velocity .section-info {
    position: absolute;
    top: 46%;
    left: 0px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    transform: translate(0, -50%);
}

.hud-velocimeter .section-velocity .section-info small {
    font-size: 10px;
    font-weight: lighter;
}

.hud-velocimeter .section-info-car {
    width: 237px;
    height: 30px;
    position: absolute;
    top: -25px;
    left: 85px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.hud-velocimeter .section-info-car img {
    z-index: 101;
    max-width: 15px;
    margin-left: 28px;
} 

.hud-velocimeter .section-info-car .fas {
    z-index: 101;
    max-width: 15px;
    margin-left: 10px;
} 

.hud-velocimeter .section-info-car .section-bg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skew(-15deg);
    background: linear-gradient(to right, rgba(0,0,0,0.511), transparent);
}

.gear {
    position: absolute;
    top: -29.8px;
    left: 60px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px #fff dashed;
    background-color: rgba(0, 0, 0, 0.511);
}

.gear span {
    font-size: 13px;
    color: #fff;
    margin-left: 5px;
    margin-top: 2px;
    position: absolute;
}

.modal {
    width: 168px;
    height: 26px;
    background: rgba(0, 0, 0, 0.511);
    border-radius: 30px;
    margin-left: 54px;
    margin-top: 62px;
    position: absolute;
    padding: 5.5px;
    text-align: center;
    font-size: 13px;
}

.modal::before {
    content: '';
    position: absolute;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    bottom: 25.42px;
    left: 132px;
    border: solid transparent;
    border-width: 9px;
    border-top-color: rgba(0, 0, 0, 0.511);
    border-bottom-width: 0;
    transform: rotate(-180deg);
}

/*/////////////
- HUD DISCORD -
/////////////*/

.name {
    position: relative;
    height: 100%;
    bottom: -25px;
    right: 0px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
}

.name #nameSv {
    position: absolute;
    left: 0;
    top: -18px;
    letter-spacing: 1.2px;
}

.name .letter {
    opacity: 0;
    display: inline-block;
    transform: scale(0.9);
}

@-moz-keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-o-keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}