@font-face {
    font-family: 'Industry';
    src: url('fonts/Industry-Medium.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Industry';
    src: url('fonts/Industry-Bold.ttf') format('truetype');
    font-weight: bold;
}

/** General Selectors*/
body {
    width: 100%;
    overflow: hidden;
    font-family: 'Industry';
    background-image: url("Screenshot_1.png");
    background-size: cover;
}
/** General Selectors*/

#pozicijabox {
    display:none;
    position: fixed;
    margin-top: 25vh;
    margin-left: 1vh;
    width: 350px;
    padding: 15px 18px;
    background-color: rgba(14, 21, 39, 0.85);
}

#specinfo {
    display: none;
    position: fixed;
    left: 5%;
    bottom: 35%;
    color: white;
    border: 1px solid white;
    width: 20%;
    margin: 5px;
    padding: 15px 18px;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    background-color: rgba(14, 21, 39, 0.85);
}

.pozicija {
    margin: 0 auto;
    color: black;
    transition: all .2s ease-in-out;
    margin: 7.5px 0px;
    color: white;
    text-align: left;
    padding-left: 5px;
    border: 1px solid #6e768a;
    border-radius: 5px;
    padding: 8px;
}

.container {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    text-shadow: 2px 2px 1px black;
    z-index: -100;
}

.doorlock {
    width: 200px;
    height: 100px;
    position: fixed;
    color: white;
    margin: 0 auto;
    font-size: 1.1em;
    vertical-align: top;
    text-align: center;
    transform: translate(-50%, -20%);
}


.admin-frame {
    position: fixed;
    right: 1%;
    margin-top: 3%;
    height: 80%;
    width: 20%;
    background-color: rgba(14, 21, 39, 0.55);
    border-radius: 5px;
    text-align: center;
    z-index: 9999;
    padding: 30px;
}

#loading_screen {

    display: none;
    position: fixed;
    right: 1%;
    margin-top: 3%;
    height: 80%;
    width: 25%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 99999;
    color: white;
    font-size: 25px;
}

.header {
    font-size: 20px;
    color: white;
    margin: 30px 0px;
    border-radius: 5px;
    padding: 6px;
    font-weight: bold;
    background-color: #383ee5;
}

.submenu {
    font-size: 25px;
    color: white;
    padding-top: -15px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 15px;
}

.button-main {
    background-color: #0E1527;
    margin: 0 auto;
    color: white;
    transition: all .2s ease-in-out;
    margin-top: 15px;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
}

.button-main-info {
    margin: 0 auto;
    color: black;
    transition: all .2s ease-in-out;
    margin-top: 15px;
    color: white;
    text-align: left;
    padding-left: 5px;
    border: 1px solid #6e768a;
    border-radius: 5px;
    padding: 8px;
}

.button-main:hover {
   cursor: pointer;
   background-color: #6978A0;
}

.back-button {
    color: white;
    width: 100px;
    justify-content: center;
    padding: 8px 8px;
    border-radius: 5px;
    background-color:rgba(255,255,255,0.2);
    margin-left: 10px;
    margin-left: auto;
    transition: 0.2s all;
}

.izadji_button {
    color: white;
    width: 100px;
    /* height: 30px; */
    margin-left: 10px;
    justify-content: center;
    padding: 8px 8px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    background-color:rgba(255,255,255,0.2);
    transition: 0.2s all;
}

.back-button:hover, .izadji_button:hover {
   cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.2s all;
}


#igraci-meni, #igraci-meni-jedan, #igraci-info-meni-jedan, #offline-meni-jedan, #dialog-meni, #offline-igraci-meni, #BanLista-igraci-meni, #banned-meni-jedan, #adminmeni {
    display: none;
}


.dialog-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    z-index: 500;
    color: white;
    font-weight: normal;
}

.dialog-box-header {
    margin-top: 15px;
    font-size: 20px;
    color: white;
}

.button_kick {
    margin-right: 15px;
    margin-top: 15px;
    padding-top: 5px;
    display: inline-block;
    right: 26%;
    color:white;
    width: 150px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 15px;
}

.button_kick:hover {
    transform: scale(1.1);
}

#list_igraci_search, #list_igraci_offline_search, #list_igraci_banned_search {
    width: 100%;
    background-color: none;
    background-color: #2A3246;
    border: none;
    padding: 16px;
    border-radius: 5px;
    color: white;
}

#list_igraci_search:focus, #list_igraci_offline_search:focus {
    outline: none;
}

#list_igraci, #list_igracii_offline, #list_igraci_banned {
  max-height:70%;
  overflow-y: auto;
  overflow-x: hidden;
}

.buttons {
    display: flex;
}

#adminmeni .izadji_button {
    margin-left: auto;
}

.izadji_button i {
    margin-right: 5px;
    margin-top: 2px;
}

#discord-lista {
  display: none;
  position: fixed;
  top: 10%;
  left: 1%;
  width: 20%;
  height: 80%;
  max-height: 80%;
  overflow-y: auto;
  font-family: 'Industry';
  background-color: rgba(14, 21, 39, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  z-index: 500;
  color: white;
  font-weight: normal;
  padding: 15px;
}

.discrd-jedan {
  padding-top: 10px;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.72);
  font-size: 13px;
  margin-bottom: 10px;
}

.ingame, .discord, .discordslika {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  text-align: center;
}

.discord {
  border-left: 1px solid white;
  padding-left: 10px;
}

.ingame {
  padding-right: 10px;
}

.discordslika img {
  width: 32px;
  height: 32px;
}
